<h1><a href="http://twitter.com/<%= @user %>"><%= @user %></a></h1>

<% @tags.each do |tag, tweets| %>
  <h3>#<%= tag %></h3>
  
  <% tweets.each do |tweet| %>
    <div class="tweet">
      <% if tweet.twitpic_url %>
        <div class="image">
          <a href="<%= tweet.twitpic_url %>" title="<%= tweet.clean_text %>"><img src="<%= tweet.twitpic_thumbnail_url %>" width="150" height="150" alt="<%= tweet.clean_text %>"></a>
        </div>
      <% end %>
      <div class="body">
        <%= tweet.clean_text %><br>
        <div class="date"><%= tweet.created_at %></div>
      </div>
    </div>
  <% end %>
  
<% end %>
